.title-container{
    background-color:white;
    color:black;
    text-align: center;
    font-size:56px;
    padding-top:18px;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:#4d4d4d;
    color:white;
    margin-top:34px;
    padding-top:36px;
    padding-bottom:36px;
}

.intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size:36px;
    width:600px;
}

.content-p{
    font-size:24px;
}

.read-container{
    margin-top:20px;
}